<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/allcss.css">
</head>
<body>
    <div class="container">
        <h1>Edit</h1>
        <form style="display:flex;flex-direction:column;gap:5px;" method="POST" action="/comments/<%= newC.id %>?_method=PATCH">
            <textarea name="comment">
                <%= newC.comment %>
            </textarea>
            <button>submit</button>
        </form>
    </div>
</body>
</html>